.ordinance {
  display: inline-flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}
.grid {
  padding-top: 30px;
  margin-top: 20px;
  text-align: center;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
}
.contenido {
  background: url("../../images/fondo.jpg") no-repeat;
  background-size: cover;
}
.title-content {
  text-align: center;
  margin-top: 10px;
  color: black !important;
  padding: 10px;
}
.pie {
  background-image: linear-gradient(
    -225deg,
    #2cd8d5 0%,
    #6b8dd6 48%,
    #8e37d7 100%
  );
  text-align: center;
}
.pie > h3 {
  padding: 10px;
  color: white;
}
