.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.pageNumbers li > button {
  cursor: pointer;
  margin: 10px;
}

.pageNumbers li > .active {
  background-color: white;
  color: black;
}
